PORT=4000
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
RAPIDAPI_KEY=
RAPIDAPI_HOST=judge0-ce.p.rapidapi.com
JUDGE0_URL=https://judge0-ce.p.rapidapi.com
FIREBASE_SERVICE_ACCOUNT_JSON=
YOUTUBE_API_KEY=